# Temp files
*~

# Build artifacts
*.a
*.o
src/monitor/mon_lex.c
src/monitor/mon_parse.c
src/monitor/mon_parse.h

# Idea
.idea

# CMake
cmake-build-debug/

# Autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
src/config.h
src/config.h.in
src/stamp-h1
src/resid/siddefs.h
src/resid-dtv/siddtvdefs.h

vice-mint-sdl.spec
src/debug.h
src/arch/android/AnVICE/AndroidManifest.xml
src/version.h
src/vice-version.sh

# Library exceptions
!src/lib/libffmpeg/configure
!src/lib/liblame/**/Makefile.in
!src/lib/liblame/aclocal.m4
!src/lib/liblame/config.h.in
!src/lib/liblame/configure
!src/lib/libx264/configure

# Binaries
src/c1541
src/cartconv
src/geninfocontrib
src/infocontrib.h
src/petcat
src/vsid
src/x128
src/x64
src/x64dtv
src/x64sc
src/xcbm2
src/xcbm5x0
src/xpet
src/xplus4
src/xscpu64
src/xvic
